<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="footer">

    <!-- Footer -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bonjin.cokr 2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="#" target="_blank">BONJIN Project</a> from bonjin.co.kr</span>
        </div>
    </footer>
    <!-- End of Footer -->

</th:block>