<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content, script)">

<head>
    <th:block th:replace="layout/head :: head"></th:block>
    <th:block th:replace="${script}"></th:block>

    <!-- 각 화면에서 받은 title -->
    <title th:replace="${title}">Administrator</title>
</head>
<body>
    <div class="container-scroller">
        <!-- START_NAV -->
        <th:block th:replace="layout/nav :: nav"></th:block>
        <!-- END_NAV -->

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles default primary"></div>
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles light"></div>
                </div>
            </div>
            <!-- START_TOP -->
            <th:block th:replace="layout/top :: top"></th:block>
            <!-- END_TOP -->

            <div class="main-panel">
                <!-- START_CONTENT -->
                <th:block th:replace="${content}"></th:block>
                <!-- END_CONTENT -->

                <!-- START_FOOTER -->
                <th:block th:replace="layout/footer :: footer"></th:block>
                <!-- END_FOOTER -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script th:src="@{/vendors/jquery-bar-rating/jquery.barrating.min.js}"></script>
    <script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendors/flot/jquery.flot.js}"></script>
    <script th:src="@{/vendors/flot/jquery.flot.resize.js}"></script>
    <script th:src="@{/vendors/flot/jquery.flot.categories.js}"></script>
    <script th:src="@{/vendors/flot/jquery.flot.fillbetween.js}"></script>
    <script th:src="@{/vendors/flot/jquery.flot.stack.js}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/misc.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/todolist.js}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script th:src="@{/js/dashboard.js}"></script>
    <!-- End custom js for this page -->
</body>
</html>