<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="nav">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile border-bottom">
                <a href="#" class="nav-link flex-column">
                    <div class="nav-profile-image">
                        <img th:src="@{/custom/images/person.png}" alt="person" />
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                        <span class="font-weight-semibold mb-1 mt-2 text-center">Administrator</span>
                    </div>
                </a>
            </li>
            <li class="pt-2 pb-1">
                <span class="nav-item-head">Pages</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/document}">
                    <i class="mdi mdi-compass-outline menu-icon"></i>
                    <span class="menu-title">Documents</span>
                </a>
            </li>
        </ul>
    </nav>
</th:block>