<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>가입페이지</title>
    <meta name="description" content="">
    <meta name="author" content="Ansonika">

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link th:href="@{/apply/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/apply/css/style.css}" rel="stylesheet">
    <link th:href="@{/apply/font-awesome/css/font-awesome.css}" rel="stylesheet" >
    <link th:href="@{/apply/css/socialize-bookmarks.css}" rel="stylesheet">
    <link th:href="@{/apply/js/fancybox/source/jquery.fancybox.css?v=2.1.4}" rel="stylesheet">
    <link th:href="@{/apply/check_radio/skins/square/aero.css}" rel="stylesheet">

    <!-- Toggle Switch -->
    <link rel="stylesheet" tH:href="@{/apply/css/jquery.switch.css}">

    <!-- Owl Carousel Assets -->
    <link th:href="@{/apply/css/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/apply/css/owl.theme.css}" rel="stylesheet">

    <!-- Google web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Jquery -->
    <script th:src="@{/apply/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/apply/js/jquery-ui-1.8.22.min.js}"></script>

    <!-- Wizard-->
    <script th:src="@{/apply/js/jquery.wizard.js}"></script>

    <!-- Radio and checkbox styles -->
    <script th:src="@{/apply/check_radio/jquery.icheck.js}"></script>

    <!-- HTML5 and CSS3-in older browsers-->
    <script th:src="@{/apply/js/modernizr.custom.17475.js}"></script>

    <!-- Support media queries for IE8 -->
    <script th:src="@{/apply/js/respond.min.js}"></script>

</head>
<style>

    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 15px;
        cursor: crosshair;
    }
</style>

<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-3" id="logo"><a href="index.html">Planio Survey template</a></div>

            <div class="btn-responsive-menu"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </div>

            <nav class="col-md-8 col-xs-9" id="top-nav">
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">About</a></li>
                    <li><a href="#" id="purchase">Purchase this template</a></li>
                </ul>
            </nav><!-- End Nav -->

        </div><!-- End row -->
    </div><!-- End container -->
</header> <!-- End header -->

<div class="container">
    <div class="row">
        <div class="col-md-12 main-title">
            <h1>Satisfaction survey</h1>
            <p>Help us to improve our service and customer satisfaction.</p>
        </div>
    </div>
</div>

<section class="container" id="main">

    <!-- Start Survey container -->
    <div id="survey_container">

        <form id="applyForm" method="POST" enctype="multipart/form-data">
            <div id="middle-wizard">
                <div class="step">
                    <div class="row">
                        <h3 class="col-md-10">온리인 신청서</h3>
                        <div class="col-md-6">
                            <ul class="data-list">
                                <li><input type="text" name="name" id="name"  class="required form-control" maxLength="30" placeholder="성명(신청인)"></li>
                                <li><input type="text" numberonly name="residentId" id="residentId" class="required form-control" maxLength="13" placeholder="주민등록번호"></li>
                                <li><input type="text" numberonly name="phone" id="phone" class="required form-control" maxLength="11" placeholder="핸드폰번호 010-xxxx-xxxx"></li>
                            </ul>
                        </div><!-- end col-md-6 -->

                        <div class="col-md-6">

                            <ul class="data-list">
                                <li>
                                    <button id="addressButton" class="btn btn-primary">우편검색</button>
                                    <input type="text" name="address" id="address"  class="required form-control" disabled placeholder="주소">
                                </li>
                                <li><input type="text" name="addressDetail" id="addressDetail"  class="required form-control" maxLength="100" placeholder="상세주소"></li>
                                <li><input type="text" name="recommender" id="recommender"  class="required form-control" maxLength="30" placeholder="추천인"></li>
                            </ul>

                            <input type="hidden" name="postcode" id="postcode" class="required form-control">
                            <input type="hidden" name="file" id="file" class="required form-control">
                        </div><!-- end col-md-6 -->
                    </div><!-- end row -->

                    <!-- Content -->

                    <div class="row">
                        <p>아래에 사인하기</p>
                        <div class="col-md-12">
                            <canvas id="sig-canvas" width="620" height="160">
                                Get a better browser, bro.
                            </canvas>
                        </div>
                    </div>
                    <b


                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <ul class="data-list" id="terms">
                                <li>
                                    <strong>동의하기<a href="#" data-toggle="modal" data-target="#terms-txt">terms and conditions</a> ?</strong>
                                    <label class="switch-light switch-ios ">
                                        <input type="checkbox" name="terms" class="required fix_ie8">
                                        <span>
                                        <span class="ie8_hide">아니요</span>
                                        <span>예</span>
                                    </span>
                                        <a></a>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div><!-- end step-->


            </div><!-- end middle-wizard -->

            <div id="bottom-wizard">
                <button id="applyButton" type="button" name="forward" class="forward">접수하기</button>
            </div><!-- end bottom-wizard -->


            <p id="sampleText"></p>
            <img id="sampleImage" src="">
        </form>

    </div><!-- end Survey container -->


</section><!-- end section main container -->

<footer>
    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About us</h3>
                <p>Lorem ipsum dolor sit amet, duo iudico accusamus ne, at vix sumo alia. Usu etiam probatus ne, eu magna ullum iusto his. Nec ea case eirmod dissentiunt. Etiam denique has cu, nam quando accusamus dissentiunt ne. Ea sit malorum scribentur.</p>
            </div>

            <div class="col-md-4" id="contact">
                <h3>Contact info</h3>
                <p>Nec ea case eirmod dissentiunt. Etiam denique has cu, nam quando accusamus dissentiunt ne. </p>
                <ul>
                    <li><i class="icon-home"></i> 1110 Bates Avenue Los Angeles, CA 90029, US</li>
                    <li><i class="icon-phone"></i> Telephone: 41.22.319.36.10 </li>
                    <li><i class="icon-envelope"></i> Email: <a href="#">info@annova.com </a></li>
                    <li><i class="icon-skype"></i> Skype name: Annova</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Latest tweet</h3>
                <div class="latest-tweets" data-number="10" data-username="ansonika" data-mode="fade" data-pager="false" data-nextselector=".tweets-next" data-prevselector=".tweets-prev" data-adaptiveheight="true"></div>
                <div class="tweet-control">
                    <div class="tweets-prev"></div>
                    <div class="tweets-next"></div>
                </div><!-- End .tweet-control -->
            </div><!-- End col-md-4 -->

        </div><!-- end row -->
    </section>

    <section id="footer_2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul id="footer-nav">
                        <li>Copyright© Ansonika </li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-6" style="text-align:center">
                    <ul class="social-bookmarks clearfix">
                        <li class="facebook"><a href="#">facebook</a></li>
                        <li class="googleplus"><a href="#">googleplus</a></li>
                        <li class="twitter"><a href="#">twitter</a></li>
                        <li class="delicious"><a href="#">delicious</a></li>
                        <li class="paypal"><a href="#">paypal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</footer>

<div id="toTop">Back to Top</div>

<!-- Modal About -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">About us</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal About -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- OTHER JS -->
<script th:src="@{/apply/js/jquery.validate.js}"></script>
<script th:src="@{/apply/js/jquery.placeholder.js}"></script>
<script th:src="@{/apply/js/jquery.tweet.min.js}"></script>
<script th:src="@{/apply/js/jquery.bxslider.min.js}"></script>
<script th:src="@{/apply/js/quantity-bt.js}"></script>
<script th:src="@{/apply/js/bootstrap.js}"></script>
<script th:src="@{/apply/js/retina.js}"></script>
<script th:src="@{/apply/js/functions.js}"></script>


<!-- FANCYBOX -->
<script th:src="@{/apply/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.4}" type="text/javascript"></script>
<script th:src="@{/apply/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5}" type="text/javascript"></script>
<script th:src="@{/apply/js/fancy_func.js}" type="text/javascript"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/custom/js/common.js}"></script>
<script th:src="@{/custom/js/address.js}"></script>
<script th:src="@{/custom/js/apply-register.js}" type="text/javascript"></script>

<script>
    (function() {
        window.requestAnimFrame = (function(callback) {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function(callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

        var canvas = document.getElementById("sig-canvas");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWidth = 4;

        var drawing = false;
        var mousePos = {
            x: 0,
            y: 0
        };
        var lastPos = mousePos;

        canvas.addEventListener("mousedown", function(e) {
            drawing = true;
            lastPos = getMousePos(canvas, e);
        }, false);

        canvas.addEventListener("mouseup", function(e) {
            drawing = false;
        }, false);

        canvas.addEventListener("mousemove", function(e) {
            mousePos = getMousePos(canvas, e);
        }, false);

        // Add touch event support for mobile
        canvas.addEventListener("touchstart", function(e) {

        }, false);

        canvas.addEventListener("touchmove", function(e) {
            var touch = e.touches[0];
            var me = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(me);
        }, false);

        canvas.addEventListener("touchstart", function(e) {
            mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var me = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(me);
        }, false);

        canvas.addEventListener("touchend", function(e) {
            var me = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(me);
        }, false);

        function getMousePos(canvasDom, mouseEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: mouseEvent.clientX - rect.left,
                y: mouseEvent.clientY - rect.top
            }
        }

        function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            }
        }

        function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
        }

        // Prevent scrolling when touching the canvas
        document.body.addEventListener("touchstart", function(e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
        }, false);
        document.body.addEventListener("touchend", function(e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
        }, false);
        document.body.addEventListener("touchmove", function(e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
        }, false);

        (function drawLoop() {
            requestAnimFrame(drawLoop);
            renderCanvas();
        })();

        function clearCanvas() {
            canvas.width = canvas.width;
        }

        $("#applyButton").click(function(event) {
            event.preventDefault();

            if (applyValidate(canvas)) {
                var dataUrl = canvas.toDataURL();

                var $name = $("#name");
                var $residentId = $("#residentId");
                var $phone = $("#phone");
                var $address = $("#address");
                var $addressDetail = $("#addressDetail");
                var $postcode = $("#postcode");
                var $recommender = $("#recommender");

                var imgBase64 = canvas.toDataURL('image/jpeg', 'image/octet-stream');
                var decodImg = atob(imgBase64.split(',')[1]);
                var array = [];
                for (var i = 0; i < decodImg .length; i++) {
                    array.push(decodImg .charCodeAt(i));
                }
                var file = new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
                var fileName = 'canvas_img_' + new Date().getMilliseconds() + '.jpg';

                var formData = new FormData();
                formData.append('name', $name.val());
                formData.append('residentId', $residentId.val());
                formData.append('phone', $phone.val());
                formData.append('address', $address.val());
                formData.append('addressDetail', $addressDetail.val());
                formData.append('postcode', $postcode.val());
                formData.append('recommender', $recommender.val());
                formData.append('dataUrl', dataUrl);
                formData.append('file', file, fileName);

                $.ajax({
                    type:'POST',
                    url:"/api/apply",
                    enctype:'multipart/form-data',
                    data: formData,
                    async: false,
                    processData:false,  // file 전송시 필수
                    contentType:false,  // file 전송시 필수
                    cache:false,
                    success:function(response) {
                        if (response.data.code == "1001") {
                            alert("이미 접수된 휴대폰 번호 입니다.")

                        } else {
                            location.href = "/apply/complete";
                        }
                    },
                    error:function(request, status, error){
                        alert("접수중 오류가 발생했습니다. 다시 시도해주세요.")
                    }
                });
            }
        });

    })();
</script>

</body>
</html>